@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&family=Rubik:wght@400;500&display=swap');
$bg-white: #E5E5E5;
$bg-black: #333333;
$bg-gray: rgb(97, 97, 97);
$p-color: #161717;
$li-height: 68px;